Header{
    background-color: #A71D31;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
header > nav {
    width: 100%;
    padding: 0 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    gap: 4rem;
}
header > nav >h1{
    font-weight: 900;

}
header > nav >ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-weight: 700;
    
}
.active{
    color: var(--highlight);
    font-weight: 900;
}
header > nav> ul> li>button>img{
    width: 30px;

}
header > nav> ul> li>button>img:hover{
    cursor: pointer;
}