.hero{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
    background-color:#07808064;
    border-radius: 40px;
    
}
.hero > img{
    width:150px;
    filter: contrast(150%);
    border-radius: 50px;
}
.hero >h2{
    font-size: var(--fs-h1);
    color:var(--color-header);

}
.hero>p{
    color:var(--color-primary);
}
.hero > div{
    display: flex;
    flex-direction: row;

}
.hero > div> a> img{
    width: 45px;
}