nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
nav > ul{
    
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    font-size: 20px;
    color: var(--primary-font);
}
nav > ul > button{
    
    background:none;
    border:none;
    
}
nav > ul > button > img{
    width: 70px;
}