.education{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    gap:1.5rem;
    align-items: center;
    margin-top: 1.5rem;

}
.education > article{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #07808080;
    padding: 1rem;
    width: 350px;
    height: 150px;
    text-align: center;
    border-radius: 40px;
}

.education > article > h3{
    color: var(--color-highlight);

}

