figure{
    padding: 0 20rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
}

figure > h2{
    color:var(--link);

}

figure > h3{
    font-size: 16px;
}
figure > img{
    background-color: var(--text);
    
    padding: 0.5rem;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 30px;
}

