 figure{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap:1 rem;
    align-items: center;
    justify-content: center;
}
.alive{
    background-color: rgb(190, 231, 231);
} 
.dead{
    background-color: rgb(205, 195, 154);
}

figure > img{
    width: 150px;
    
    object-fit: cover;
}