.games{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding-bottom: 3rem;
}
.games > div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    
}
.games > div > figure{
    background-color: var(--backcolor-figures);
    padding:0.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    gap: 0.4rem;
    text-align: center;
}

.games > div > figure>h2{
    color: var(--highlight-font);
}
.games > div > figure>p{
    text-align: justify;
}

.games > div > figure>h4{
    color: var(--highlight-font);
}
.games > input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--highlight-font);
    font-size: 20px;
    color: var(--backcolor-figures);
}
.games > input:focus{
    outline: none;
}