main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem;
    
}
main > .search > input{
    background: none;
    border: none;
    border-bottom: var(--highlight) 2px solid;
}
main > figure{
    width: 60%;
    
    border-radius: 40px;
    box-shadow: 0 0 30px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 0.5rem;
    background-color: rgba(247, 236, 234, 0.738);
}
main >figure > h2{
    font-weight: 900;
    text-transform: uppercase;
}
main > figure > h4{
    color: var(--highlight);
}

main > figure >.similar{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 0.5rem;

}
main > figure >.similar > a{
    font-weight: 500;
    text-align: center;
    color: rgb(249, 75, 75);
    transition: all ease-in-out 0.6s;
}
main > figure >.similar > a:hover{
    text-decoration: underline 2px var(--highlight);
}
main > figure >.tags{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}