
main>.login{
    position: absolute;
    top: 40%;
    display: flex;
    gap:2rem;

}
main > .login > input{
    background: none;
    border: none;
    border-bottom: 2px var(--highlight) solid;
    width: 200px;
    letter-spacing: 1px;
    font-size: 20px;
    
}
main > .login > input:focus{
    outline: none;
}
main > .login > input::placeholder{
    font-weight: 600;
    text-align: center;
}
 main>.login>.buttonLogin >img{
    width: 50px;
    
}
main>.login>.buttonLogin{
    transition: all ease-in-out 0.3s;
}

main>.login>.buttonLogin:hover{
    scale:105%;
    filter: blur(1px);
}